<h2><%= @book['name'] %></h2>
<pre> 
  <p><%= @book['description'] %></p> 

  <% if @rating != nil %>
    <p><%= @rating['score'] %>/5</p>
  <% end %>
</pre>

<% if @current_user_access['access'] == 'admin' %>
  <form action='/books/<%= @book['id'] %>/delete' method='post'> 
    <button type="submit"> Delete </button>
  </form>

  <a href='/books/<%= @book['id'] %>/update'> Update </a> <br></br>
<% end %>

<% if @current_user_access['access'] == 'user' || @current_user_access['access'] == 'admin' %>
  <form action='/books/<%= @book['id'] %>/rate' method='post'>
    <input type='text' name='score'></input>
    <button type="submit"> Rate </button>
  </form>
<% end %>

<a href='/books'> Hemsida </a>